/* ===== SELECTOR DENGAN ELEMEN HTML ===== */
p {
  text-align: center;
  color: red;
}

/* ===== SELECTOR DENGAN ID ELEMEN HTML ===== */
#para1 {
  text-align: center;
  color: red;
}

/* ===== SELECTOR DENGAN CLASS ELEMEN HTML ===== */
p.center {
  text-align: center;
  color: red;
}

/* ===== FONT PROPERTIES ===== */
p.example {
  font-family: Arial;
  font-size: 20px;
  color: ligh;
  font-style: italic;
  font-weight: bold;
}

/* ===== LIST PROPERTIES ===== */
ul.firstList {
  background-color: tomato;
  margin: 10px 5px 10px 5px;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
ol.secondList {
  background-color: lightblue;
  list-style-type: lower-roman;
  padding: 5px 5px 15px 15px;
  list-style-position: inside;
}

/* ===== ALIGNMENT OF TEXT ===== */
h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
h3 {
  text-align: right;
}

/* ===== COLORS ===== */
body {
  background-color: HSL(20%, 40%, 70%);
  color: orange;
}
#teks {
  color: #2f3cdf;
} /* dengan opacity sebesar 0.5 */
input.text-field {
  background-color: RGBA(32, 55, 122, 0.5);
}

/* ===== SPAN & DIV ===== */
.section1 {
  background-color: lightgrey;
  padding: 10px 5px 10px 5px;
}
.mark {
  background-color: tomato;
  font-style: italic;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}
